<div class="container">
	
	<div class="row">
		<article class="col-md-3">
			<a href="#accounts">
			<img src="img/account-icon.png"> 				
			<h3>Accounts</h3>
			<p>Register your bank accounts. Here you will specify the expected upload statement structure</p>
		
		</article>
		<article class="col-md-3">
			<a href="#transactions">
			<img src="img/transactions.png"> 				
			<h3>Transactions</h3>
			<p>Upload and view transactions for your registered accounts.</p>
			
		</article>
		<article class="col-md-3">
			<a href="#rules">
			<img src="img/rules.png"> 				
			<h3>Transaction Rules</h3>
			<p>Set up rules that will be applied to categorise your transactions. This will help you to easily identify spending trends in your outgoings.</p>
		
		</article>
		<article class="col-md-3">
			<a href="#analysis">
			<img src="img/analysis-pie-chart.png"> 				
			<h3>Analysis</h3>
			<p>Perform analysis of over your accounts to help identify where your money is being spent.</p>
		</article>
	
	</div>
	
	
</div>